*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: #14bdeb;
  color: #fcfcfc;
}

::selection {
  background-color: #14bdeb;
  color: #fcfcfc;
}

body {
  background-color: #fcfcfc;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font: 13px/20px normal Helvetica, Arial, sans-serif;
}

.arrow {
  border: 1px solid transparent;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  color: #fcfcfc;
  background-color: #14bdeb;
  outline: none;
}

.arrow:hover, .arrow:focus {
  background: #72d7f3;
  color: #0d566a;
  cursor: pointer;
}

.search {
  width: 1440px;
}

.search__input, .search__button {
  width: calc(1440px / 5);
  margin: 5px 10px;
  padding: 5px 10px;
  color: #0d566a;
  border: 2px solid #14bdeb;
  border-radius: 10px;
  outline: none;
}

.search__input:hover, .search__input:focus, .search__button:hover, .search__button:focus {
  border-color: #0d566a;
}

.search__button {
  background: #14bdeb;
  color: #fcfcfc;
  font-weight: bold;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  border: 2px solid transparent;
}

.search__button:focus, .search__button:hover {
  cursor: pointer;
  background: #0d566a;
  color: #fcfcfc;
}

.button {
  background: #14bdeb;
  color: #fcfcfc;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  margin: 10px 5px;
}

.button:hover, .button:focus {
  background-color: #0d566a;
  cursor: pointer;
}

.header {
  background-color: #14bdeb;
  color: #fcfcfc;
}

.header h1 {
  color: #fcfcfc;
}

.any {
  color: #0d566a;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1440px;
  border: 1px solid #14bdeb;
  margin: 5px;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
}

.list__header {
  width: calc(1440px / 5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list p {
  width: calc(1440px / 5);
}

.list h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.list h2 {
  width: 100%;
}

.list__button {
  background: #14bdeb;
  border: none;
  color: #fcfcfc;
  padding: 5px 10px;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  border-radius: 20px;
  font-size: 16px;
  width: 40px;
  height: 40px;
}

.list__button:hover, .list__button:focus {
  cursor: pointer;
  background-color: #0d566a;
}

.list__button--absolute {
  position: relative;
}

.list__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(1440px / 5);
}

.list__btns button {
  margin: 0 5px;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.links {
  position: relative;
  width: 1440px;
}

.pagination,
.limitLinks {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__item,
.limitLinks__item {
  border: 1px solid #14bdeb;
  outline: none;
  text-align: center;
  background: #fcfcfc;
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

.pagination__item:hover, .pagination__item:focus,
.limitLinks__item:hover,
.limitLinks__item:focus {
  opacity: 0.85;
  cursor: pointer;
  color: #14bdeb;
  font-weight: bold;
}

.pagination__item--active,
.limitLinks__item--active {
  color: #14bdeb;
}

.pagination {
  position: absolute;
  left: 0;
}

.limitLinks {
  position: absolute;
  right: 0;
}
/*# sourceMappingURL=global.css.map */