*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

::-moz-selection {
  background-color: #30343f;
}

::selection {
  background-color: #30343f;
}

body {
  background-color: #0c1821;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font: 13px/20px normal Helvetica, Arial, sans-serif;
}

#error {
  padding: 50px;
  margin: 10px;
  border: 1px solid white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 8px white;
  box-shadow: 0 0 8px white;
}

#error h1 {
  margin-bottom: 30px;
}

#error p {
  margin-top: 10px;
  font-size: 16px;
}

.fa::before {
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  color: white;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 1440px;
  border: 1px solid #30343f;
  margin: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}

.list h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 200px;
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.list h2 {
  width: 100%;
}

.list__button {
  background: #30343f;
  border: none;
  color: white;
  padding: 5px 10px;
  border: 1px solid #30343f;
  outline: none;
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  border-radius: 20px;
  line-height: 24px;
  width: 40px;
}

.list__button:hover,
.list__button:focus {
  cursor: pointer;
  border-color: white;
  background-color: #30343f;
  color: white;
}

.list__button:hover .fa::before,
.list__button:focus .fa::before {
  color: white;
}

.list__button--absolute {
  position: relative;
}

.list__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100px;
  margin: 0;
  padding: 0;
}

.list__header {
  text-transform: uppercase;
  font-weight: bold;
}

.list p {
  width: 200px;
}

.order {
  text-align: center;
  margin: 10px 20px;
  border: 1px solid #30343f;
  -webkit-box-shadow: 0 0 8px #30343f;
  box-shadow: 0 0 8px #30343f;
  width: 100%;
  min-height: 170px;
  max-width: 400px;
  position: relative;
  border-radius: 10px;
}

.order__error {
  color: red;
  font-weight: bold;
  font-size: 10px;
}

.order__title,
.order__client {
  text-indent: 0;
  background-color: transparent;
  border-bottom: 1px solid #30343f;
  font-size: 19px;
  font-weight: normal;
  margin: 0 0 14px 0;
  padding: 14px 15px 10px 15px;
}

.order__subtitle {
  text-indent: 0;
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
}

.order__label {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
  font-size: 17px;
  line-height: 40px;
}

.order__label:hover {
  cursor: text;
}

.order__body {
  margin: 0 15px 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.order__body strong {
  font-size: 15px;
}

.order__body code {
  font-family: Consolas, Monaco, Courier New, Courier, monospace;
  font-size: 12px;
  background-color: #0c1821;
  border: 1px solid #0c1821;
  -webkit-box-shadow: 0 0 15px #0c1821;
  box-shadow: 0 0 15px #0c1821;
  color: white;
  display: block;
  margin: 14px 0 14px 0;
  padding: 12px 10px 12px 10px;
}

.order__body a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-weight: normal;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.order__body a:hover {
  opacity: 0.7;
}

.order__table {
  border-spacing: 0;
  border-bottom: 1px solid #30343f;
  margin: 10px 20px;
}

.order__key,
.order__value {
  width: 150px;
  border: 1px solid #30343f;
  border-bottom: none;
  margin: 0;
  padding: 0;
  text-align: left;
  padding: 5px 10px;
}

.order__checkbox {
  position: relative;
  background: transparent;
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  border: 1px solid #30343f;
  border-radius: 10px;
}

.order__checkbox p {
  visibility: hidden;
}

.order__checkbox:focus {
  color: #30343f;
}

.order__checkbox input[type="checkbox"] {
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
}

.order__checkbox input[type="checkbox"]:hover {
  cursor: pointer;
}

.order__checkbox input[type="checkbox"]:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%) translateY(-50%);
  transform: translate(-50%) translateY(-50%);
  color: white;
  content: "Asc";
}

.order__checkbox input[type="checkbox"]:checked {
  background-color: #30343f;
}

.order__checkbox input[type="checkbox"]:checked:after {
  content: "Desc";
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%) translateY(-50%);
  transform: translate(-50%) translateY(-50%);
}

.order__checkbox:hover {
  border-color: white;
  cursor: pointer;
}

.order__value {
  text-align: right;
}

.order__input {
  background: transparent;
  border: none;
  color: white;
  padding: 10px 15px;
  border: 1px solid #30343f;
  outline: none;
  -webkit-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
  border-radius: 10px;
  height: 40px;
  width: 80%;
}

.order__input:hover,
.order__input:focus {
  border-color: white;
}

.order__input--multiple {
  height: 150px;
}

.order__input--margined {
  margin-right: 10px;
}

.order__button {
  background: #30343f;
  margin: 10px;
  border: none;
  color: white;
  padding: 10px 15px;
  border: 1px solid #30343f;
  outline: none;
  -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  border-radius: 10px;
}

.order__button:hover,
.order__button:focus {
  cursor: pointer;
  border: 1px solid white;
  background-color: #30343f;
  color: white;
}

.order__button--rounded {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 0 8px #30343f;
  box-shadow: 0 0 8px #30343f;
}

.order__button--back {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0 0 8px #30343f;
  box-shadow: 0 0 8px #30343f;
}

.order__footer {
  bottom: 0;
  width: 100%;
  font-size: 11px;
  border-top: 1px solid #30343f;
  line-height: 32px;
  padding: 0 10px 0 10px;
  margin: 20px 0 0 0;
}

.pagination {
  position: relative;
  width: 1440px;
}

.pagination__item {
  border: 1px solid #30343f;
  font-size: 20px;
  width: 200px;
  text-align: center;
}

.pagination__item--next {
  position: absolute;
  right: 0;
  z-index: 0;
}

.pagination__item--prev {
  position: absolute;
  left: 0;
  z-index: 0;
}

.pagination__item a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
}

.pagination__item a:hover {
  color: #30343f;
  cursor: pointer;
}

.pagination__item--cur {
  color: #30343f;
  padding: 10px;
  background-color: #30343f;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-animation: fadeout 1s ease-in-out;
  animation: fadeout 1s ease-in-out;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.modal::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.modal__title {
  margin-bottom: 10px;
}

.modal__create,
.modal__remove,
.modal__edit {
  position: relative;
  top: 50vh;
  left: 50vw;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 4;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
}

.modal__create {
  background: #50dda5;
}

.modal__edit {
  background: #50a5dd;
}

.modal__remove {
  background: #dd3033;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=global.css.map */
